/**********
 * colors *
 **********/

/* variable */

$main: #dadada;
$sub: #fff7f7;
$accent: #204969;

/* class */

.text-main {
  color: $main;
}

.text-sub {
  color: $sub;
}

.text-accent {
  color: $accent;
}

.bg-main {
  background-color: $main;
}

.bg-sub {
  background-color: $sub;
}

.bg-accent {
  background-color: $accent;
}

.border-main {
  border-color: $main;
}

.border-sub {
  border-color: $sub;
}

/* transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
