/**********
 * colors *
 **********/

/* variable */

$padua: #b9eab5;
$blue-bayoux: #47647e;

$blue-dianne: #26565d;
$moss-green: #b1e0ab;

/* class */

.text-base .hover\:text-base:hover {
  color: $blue-dianne;
}

.text-main {
  color: $moss-green;
}

.bg-base {
  background-color: $blue-dianne;
}

.bg-main .hover\:bg-main:hover {
  background-color: $moss-green;
}

.border-base {
  border-color: $blue-dianne;
}

.border-main {
  border-color: $moss-green;
}

/* transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
